html {
    font-family: 'Roboto', serif;
    width: 100%;
    background-image: linear-gradient(to right, #4D9DE0,#E15554);
    color: white;
}

header {
    text-align: center;
}

.clock_main_title {
    font-size: 78px;
}

.clock_text_format {
    border: solid 1px #ccc;
    border-radius: 16px;
    font-size: 65px;
    justify-content: center;
    display: flex;
    width: 50%;
    margin-left: 25%;
}

.clock_title {
    width: auto;
    padding-left: 25%;
}

footer {
    width: 99%;
    text-align: right;
}

a:link, a:visited, a:hover, a:active {
    font-size: 38px;
    color: white;
    padding: 5px;
    text-decoration: none;
}
